# Segmenting and Clustering Neighborhoods in Toronto

## 2. Add the latitude and longitude coordinates to the dataframe

In [1]:
import numpy as np
import pandas as pd

In [2]:
import geocoder

In [3]:
df = pd.read_csv('toronto.csv')
df.head()

   Unnamed: 0 Postalcode      Borough                            Neighborhood
0           0        M1B  Scarborough                          Rouge, Malvern
1           1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [4]:
def lat_lng(postal_code):
# initialize your variable to None
    lat_lng_coords = None
# loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [5]:
lat_lng('M1B')

[43.811525000000074, -79.19551721399995]

In [6]:
postcodes = df['Postalcode']
coords = [lat_lng(postal_code) for postal_code in postcodes.tolist()]

In [8]:
df_coords = pd.DataFrame(coords, columns=['latitude','longitude'])
df['latitude'] = df_coords['latitude']
df['longitude'] = df_coords['longitude']

In [9]:
df.head()

,Unnamed: 0,Postalcode,Borough,Neighborhood,latitude,longitude
0,0,M1B,Scarborough,"Rouge, Malvern",43.811525,-79.195517
1,1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.785730,-79.158750
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765690,-79.175256
3,3,M1G,Scarborough,Woburn,43.768359,-79.217590
4,4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

In [10]:
df.to_csv('toronto_latlng.csv')